/*
.ng-invalid {
  outline: 1px solid red;
}
*/
/*
table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

tfoot td {
    display: inline-block;
}
*/

#survey {
  padding: 8%;
}

#description {
  width: 60%;
  margin: auto;
  padding: 10% 0;
}

.others {
  width: auto;
  display: inline-block;
}

.item-order {
  padding: 0;
}

.choice-option {
  height: 20px;
}

ol.likert-item-order {
  padding: 0;
}

span.likert-item-order {
  margin-left: -23px;
}

.likert.likert-content {
  width: 50%;
  vertical-align: middle;
}

.likert.likert-option {
  text-align: center;
  vertical-align: middle;
}

.likert.likert-header-content {
  width: 50%;
  text-align: center;
  vertical-align: bottom;
}

.likert.likert-header-option {
  width: 7%;
  text-align: center;
  vertical-align: bottom;
}

.semantic {
  width: 100%;
}

  .semantic-content-left {
    width: 33%;
    text-align: right;
    vertical-align: middle;
  }

  .semantic-content-right {
    width: 33%;
    text-align: left;
    vertical-align: middle;
  }

  .semantic-option {
    text-align: center;
    vertical-align: middle;
  }

  .semantic-header-content {
    width: 33%;
    text-align: center;
    vertical-align: bottom;
  }

  .semantic-header-option {
    text-align: center;
    vertical-align: bottom;
  }

.spinner-container {
  display: table;
  width: 100%;
  text-align: center;
}

  .spinner-container .spinner-display {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 200px;
  }

