<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        <span editable-text="editor.currentSurvey.title" e-form="textBtnForm">
          {{ editor.currentSurvey.title || '編輯問卷名稱'}}
        </span>
      <button type="button" class="btn btn-sm btn-default"
              ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" >
        <i class="glyphicon glyphicon-pencil">
        </i>
      </button>
      </h1>
    </div>
    <!-- angular-wysiwyg -->
    <div class="col-md-12" ng-if="editor.showTextEditor">
        <wysiwyg textarea-id="textContent" textarea-class="form-control" textarea-height="400px"
                 textarea-name="textareaContent" textarea-required
                 ng-model="editor.htmlContent" enable-bootstrap-title="true">
        </wysiwyg>
        <div class="editor-btns">
          <button type="button" class="btn btn-primary" ng-click="editor.done()">完成</button>
          <button type="button" class="btn btn-default" ng-click="editor.cancel()">取消</button>
        </div>
    </div>
    <!-- show pages here -->
    <div class="col-md-12" ng-hide="editor.showTextEditor">
      <button type="button" ng-click="editor.add()" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;新增頁面
      </button>
      <button type="button" ng-click="editor.saveAll()" class="btn btn-warning">
        <i class="glyphicon glyphicon-save"></i>&nbsp;儲存問卷
      </button>
      <button type="button" ng-click="editor.goBack()" class="btn btn-default">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <table class="table table-hover table-striped"
             st-table="editor.displayed" st-safe-src="editor.rows">
        <thead>
        <tr>
          <th style="width:15%;" class="text-center">順序</th>
          <th style="width:45%;">類型</th>
          <th style="width:10%;" class="text-center">讀秒</th>
          <th style="width:15%;" class="text-center">編輯</th>
          <th style="width:15%;" class="text-center">刪除</th>
        </tr>
        </thead>
        <tbody>
        <tr class="edit-mode" ng-repeat="row in editor.rows track by $index">
          <td class="text-center">
            <span editable-select="row.pageOrder" buttons="no"
                  e-ng-options="order for order in editor.pageOrder"
                  onaftersave="editor.movePage(row.pageOrder-1, $index, row)">
              {{row.pageOrder}}
            </span></td>
          <td>
              <span editable-select="row.pageType" buttons="no"
                    e-ng-options="type as type.name for (key,type) in editor.pageTypes">
              {{row.pageType.name || '選擇'}}
            </span>
          </td>
          <td class="text-center">
              <input type="number" class="number form-control" name="pageCount"
                     ng-model="row.pageCount" min="0" max="10">
          </td>
          <td class="text-center">
          <button type="button"  class="btn btn-sm btn-info"
                  ng-click="editor.edit(row)" ng-disabled="row.pageType === ''">
            <i class="glyphicon glyphicon-edit">
            </i>
          </button>
          </td>
          <td class="text-center">
          <button type="button" class="btn btn-sm btn-danger" ng-click="editor.remove($index)">
            <i class="glyphicon glyphicon-trash">
            </i>
          </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
