<!-- <div ng-include="'components/navbar/navbar.html'"></div>
 -->
<!-- <div class="navbar navbar-default navbar-static-top"> -->
<!-- </div> -->

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>
        <span editable-text="currentSurvey.title" e-form="textBtnForm">{{currentSurvey.title || '編輯問卷名稱'}}</span>
      <button type="button" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" class="btn btn-sm btn-default">
        <i class="glyphicon glyphicon-pencil">
        </i>
      </button>
      </h1>
    </div>
    <div class="col-md-12">
      <button type="button" ng-click="addPage()" class="btn btn-sm btn-primary">
        <i class="glyphicon glyphicon-plus">
        </i> 新增項目
      </button>
      <button type="button" ng-click="saveAll()" class="btn btn-sm btn-warning">
        <i class="glyphicon glyphicon-save">
        </i> 儲存問卷
      </button>
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
        <tr>
          <th class="order">順序</th>
          <th class="type">類型</th>
          <th class="count">讀秒</th>
          <th class="tableBtn">編輯</th>
          <th class="tableBtn">刪除</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.pageOrder}}</td>
          <td>
              <span editable-select="row.pageType" buttons="no" e-ng-options="t.name for t in pageTypes">
              {{ row.pageType.name || '選擇'}}
            </span>
          </td>
          <td>
              <input type="number" class="number form-control" name="pageCount" ng-model="row.pageCount" min="0" max="10">
          </td>
          <td>
          <button type="button" ng-click="editPage(row)" class="btn btn-sm btn-info" ng-disabled="row.pageType === ''">
            <i class="glyphicon glyphicon-edit">
            </i>
          </button>
          </td>
          <td>
          <button type="button" ng-click="removePage($index)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove">
            </i>
          </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
