<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>登入</h1>
      <p>預設帳號為 <code>test(test@test.com)</code> / <code>test</code></p>
      <p>管理者帳號為 <code>admin(admin@admin.com)</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>帳號</label>

          <input type="text" name="name" class="form-control" ng-model="user.name" required/>
        </div>

        <div class="form-group">
          <label>密碼</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.name.$error.required && form.password.$error.required && submitted">
             請輸入帳號和密碼.
          </p>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
             請輸入正確的帳號.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            登入
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/signup">
            註冊
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
