.order {
  width: 5%;
}

.must {
  width: 5%;
}

.type {
  width: 15%;
}

.content {
  width: 55%;
}

.tableBtn {
  width: 10%;
}

.options input {
  width: 50%;
  display: inline-block;
  margin-top: 5px;
}