<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>順序{{currentPage.pageOrder}}－{{currentPage.pageType.name}}</h1>
    </div>
    <div class="col-md-12">
      <button type="button" ng-click="addItem()" class="btn btn-sm btn-primary">
        <i class="glyphicon glyphicon-plus">
        </i> 新增項目
      </button>
      <button type="button" ng-click="saveAll()" class="btn btn-sm btn-warning">
        <i class="glyphicon glyphicon-save">
        </i> 儲存頁面
      </button>
      <table st-table="displayedCollection" st-safe-src="rowCollection" class="item-table table table-striped">
        <thead>
        <tr>
          <th class="order">順序</th>
          <th class="must">必填</th>
          <th class="type">類型</th>
          <th class="content">內容</th>
          <th class="tableBtn">量表尺度</th>
          <th class="tableBtn">編輯項目</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.itemOrder}}</td>
          <td><input type="checkbox" ng-model="row.must"></td>
          <td>
            <span editable-select="row.itemType" e-name="itemType" buttons="no" e-ng-options="t.name for t in itemTypes" onaftersave="checkRow(row)">
              {{ row.itemType.name || '選擇'}}
            </span>
          </td>
          <td>
            <span editable-text="row.content" e-name="content" e-form="rowform" e-ng-hide="checkGroup(row)">
              {{ row.content }}
            </span>
            <span editable-textarea="row.multicontent" e-name="multicontent" e-form="rowform" e-rows="5" e-cols="40" e-ng-show="checkGroup(row)">
              {{ row.multicontent }}
            </span>
          </td>
          <td>
            <span editable-select="row.options" e-name="scaleOption" e-form="rowform" e-ng-options="s.val for s in scaleOptions" e-ng-show="checkType(row.itemType)">
              {{ row.options.val }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">儲存</button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">取消</button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">編輯</button>
              <button class="btn btn-danger" ng-click="removeItem($index)">刪除</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
