.order {
  width: 5%;
}

.must {
  width: 5%;
}

.type {
  width: 15%;
}

.content {
  width: 55%;
}

.tableBtn {
  width: 10%;
}

.options input {
  width: 50%;
  display: inline-block;
  margin-top: 5px;
}

.editable-wrap {
  width: 98%;
}

/* Specify styling for tooltip contents */
.tooltip.customClass .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
    display: none;
}