<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>順序{{::page.current.pageOrder}}－{{::page.current.pageType.name}}</h1>
    </div>
    <div class="col-md-12">
      <button type="button" ng-click="page.add()" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"> 新增項目</i>
      </button>
      <button type="button" ng-click="page.saveAll()" class="btn btn-warning">
        <i class="glyphicon glyphicon-save"> 儲存頁面</i>
      </button>
      <table st-table="page.displayed" st-safe-src="page.rows" class="item-table table table-striped">
        <thead>
        <tr>
          <th style="width:5%;">順序</th>
          <th style="width:5%;">必填</th>
          <th style="width:15%;">類型</th>
          <th style="width:50%;">內容</th>
          <th style="width:10%;">量表尺度</th>
          <th style="width:15%;">編輯項目</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in page.rows track by $index">
          <td>
            <span editable-number="row.itemOrder" e-min="1" e-max="{{page.rows.length}}"
                  onaftersave="page.moveItem(row.itemOrder-1, $index, row)">
              {{row.itemOrder}}
            </span>
          </td>
          <td><input type="checkbox" ng-model="row.must"></td>
          <td>
            <span editable-select="row.itemType" e-name="itemType" buttons="no"
                  e-ng-options="type as type.name for (k,type) in page.itemTypes"
                  onaftersave="page.checkRow(row)">
              {{ row.itemType.name || '選擇'}}
            </span>
          </td>
          <td>
            <div ng-include="page.showInputField(row)"></div>
          </td>
          <td>
            <span editable-select="row.options.scales" buttons="no"
                  e-ng-options="s for s in page.scaleOptions"
                  e-ng-show="page.showScale(row.itemType)">
              {{ row.options.scales}}
            </span>
          </td>
          <td style="white-space: nowrap">
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="page.inserted == row">
              <button type="submit" ng-disabled="rowform.$waiting" ng-click="page.log(row)" class="btn btn-info">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button type="button" class="btn btn-default"
                      ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" >
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-info"
                      ng-show="page.showOptionList(row.itemType)"
                      ng-click="page.editOptionList(row)">
                <i class="glyphicon glyphicon-list"></i>
              </button>
              <button class="btn btn-primary" ng-click="rowform.$show()">
                <i class="glyphicon glyphicon-edit"></i>
              </button>
              <button class="btn btn-danger" ng-click="page.remove($index)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/ng-template" id="text.html">
<span editable-text="row.content" e-name="content" e-form="rowform"
      e-placeholder="{{row.tips}}"
      ng-bind-html="row.content">
</span>
</script>
<script type="text/ng-template" id="likert.html">
<span editable-text="row.content" e-name="content" e-form="rowform"
      e-placeholder="{{row.tips}}"
      ng-bind-html="row.content">
</span>
</script>
<script type="text/ng-template" id="likert-group.html">
<span editable-textarea="row.content" e-name="content" e-form="rowform" e-rows="5"
      e-placeholder="{{row.tips}}" ng-bind-html="page.format(row.content)">
</span>
</script>
<script type="text/ng-template" id="semantic.html">
<span editable-textarea="row.content" e-name="content" e-form="rowform" e-rows="2"
      e-placeholder="{{row.tips}}" ng-bind-html="page.format(row.content)">
</span>
</script>
<script type="text/ng-template" id="semantic-group.html">
<span editable-textarea="row.content" e-name="content" e-form="rowform" e-rows="5"
      e-placeholder="{{row.tips}}" ng-bind-html="page.format(row.content)">
</span>
</script>
<script type="text/ng-template" id="question.html">
<span editable-text="row.content" e-name="content" e-form="rowform"
      e-placeholder="{{row.tips}}"
      ng-bind-html="row.content">
</span>
<p ng-bind-html="row.preview"></p>
</script>
