<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>註冊</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>帳號</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            必填
          </p>
          <p class="help-block" ng-show="form.name.$error.mongoose">
            {{ errors.name }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>郵件</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            請輸入有效的郵件格式。
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            必填
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>密碼</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            密碼必須包含三個字元以上。
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-primary btn-lg" type="submit">
            註冊
          </button>
          <a class="btn btn-link btn-sm" href="/login">
            已經註冊帳號了嗎? 點這裡登入
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
