<div class="ngdialog-message">
  <h2>選擇頁面類型</h2>
  <div class="form-group">
    <label for="pageOrder">順序</label>
    <input type="text" class="form-control" id="typeOrder" placeholder="預設值">
  </div>

  <div class="form-group">
    <label for="pageCount">讀秒</label>
    <input type="text" class="form-control" id="typeCount" placeholder="0">
  </div>

  <div class="form-group">
    <label for="pageMenu">類型</label>
    <select class="form-control mt" ng-model="pageType">
      <option value="txt">文字頁面</option>
      <option value="pic">圖片頁面</option>
      <option value="mix">問卷頁面</option>
      <option value="ans">填答頁面</option>
    </select>
  </div>

</div>
<div class="ngdialog-buttons mt">
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="done()">完成</button>
</div>
