<div class="ngdialog-message">
  <h2>選擇頁面類型</h2>
  <div class="form-group">
    <label for="pageOrder">順序</label>
    <input type="text" class="form-control" ng-model="pageOrder" placeholder="預設值">
  </div>

  <div class="form-group">
    <label for="pageCount">讀秒</label>
    <input type="text" class="form-control" ng-model="pageCount" placeholder="0">
  </div>

  <div class="form-group">
    <label for="pageType">類型
      <select class="form-control mt" ng-model="pageType" ng-options="pageType.name for pageType in pageTypes">
        <option value="">-- 選擇類型 --</option>
      </select>
    </label>
  </div>

</div>
<div class="ngdialog-buttons mt">
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-disabled="pageType === undefined" ng-click="done()">完成</button>
</div>
