<div class="alert alert-success" role="alert" ng-if="survey.showSuccessMsg">
  結果已儲存！
</div>
<div class="text-center">
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-default" ng-disabled="survey.showPrev()" ng-click="survey.prevPage()">往前</button>
    <button class="btn btn-default" ng-click="survey.returnToList()">返回列表</button>
    <button class="btn btn-default" ng-disabled="survey.nextEnabled"
            ng-click="survey.nextPage(surveydata.$invalid)">下一步 {{survey.counterDisplay}}</button>
  </div>
</div>
