<div class="ngdialog-message">
  <h2>選擇項目類型</h2>
  <div class="form-group">
    <label for="itemOrder">順序</label>
    <input type="text" class="form-control" id="itemOrder" placeholder="預設值">
  </div>

  <div class="form-group">
    <label for="pageType">類型
      <select class="form-control mt" ng-model="itemType" ng-options="itemType.name for itemType in itemTypes">
        <option value="">-- 選擇 --</option>
      </select>
    </label>
  </div>

</div>
<div class="ngdialog-buttons mt">
  <button type="button" class="ngdialog-button ngdialog-button-primary" ng-disabled="itemType === undefined" ng-click="done()">新增</button>
</div>
